{% extends 'adminBase.html.twig' %}

{% block title %}Hello CreateIngredientController!{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid"
             style="margin:100px auto; padding: 20px; background-color: white;">
            {{ form_start(form) }}
            <button>Create</button>
            {{ form_end(form) }}
        </div>
    </main>

{% endblock %}
