{% extends 'base.html.twig' %}

{% block title %}BSUfood{% endblock %}

{% block content %}

    <main>
        <div class="container-fluid"
             style="width:500px; margin:100px auto; padding: 20px; background-color: white; border: 1px solid black; border-radius: 15px;">
            <p>Вам на почту было отправлено письмо, которое содержит ссылку для восстановления пароля. Время действия
                ссылки истечет через {{ tokenLifetime|date('g') }} час(-ов).</p>
            <p>Если вы не получили письмо, проверьте папку спам или <a
                        href="{{ path('app_forgot_password_request') }}">попробуйте ещё раз</a>.</p>

        </div>
    </main>
{% endblock %}
