{% extends 'homeBase.html.twig' %}

{% block title %}BSUfood{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid"
             style="margin:100px auto; padding: 20px; background-color: white;">
            <button type="button" onclick="location.href='/admin/users'" class="btn btn-primary btn-lg btn-block"> Users
                controll
            </button>
            <button type="button" onclick="location.href='/admin/categories'" class="btn btn-primary btn-lg btn-block"> Categories
                controll
            </button>
            <button type="button" onclick="location.href='/admin/dishes'" class="btn btn-primary btn-lg btn-block"> Dishes
                controll
            </button>
        </div>
    </main>
{% endblock %}
