{% extends 'base.html.twig' %}

{% block title %}BSUfood{% endblock %}



{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}




    <main>
        <div class="container-fluid"
             style="width:300px; margin:100px auto; padding: 20px; background-color: white; border: 1px solid black; border-radius: 15px;">
            <h3>Спасибо за заказ!!!</h3>

            <div class="text-center" style="margin-top: 10px;">
                <a href="{{ path('menu') }}">
                    <button type="submit" class="btn btn-primary" style="background-color: #0A3470;">Ок</button>
                </a>
            </div>

        </div>
    </main>

{% endblock %}




