{% extends 'base.html.twig' %}

{% block title %}Hello CreateDishCompositionController!{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <button>Create</button>
    {{ form_end(form) }}
{% endblock %}
